@*Copyright 2015 the pokefans-core authors. See copying.md for legal info.*@
@using Pokefans.Areas.mitarbeit.Models
@model UserAdvertisingNoteViewModel
@{
    Layout = null;
}
@*This should be XSS-safe, altough I'm glad to be proven otherwise.*@
Werbung für Webseite <a href="@Html.Raw(Uri.EscapeDataString(Model.Uaavm.Url))">@Model.Uaavm.Url</a> in <strong>@Model.AdvertisingForm</strong> 
@if (Model.Uaavm.UserName != null)
{
    if(Model.Uaavm.UserNameExistsInDb) {
    <text>(Ziel: <strong><a href="@Url.Map("profil/"+ Model.Uaavm.UserUrl, "user")">@Model.Uaavm.UserName</a></strong>)</text>
    }
    else {
    <text>(Ziel: <strong>@Model.Uaavm.UserName</strong>)</text>
    }
}
.