@model Pokefans.Models.ForgotPasswordViewModel
@{
    Layout = "~/Areas/user/Views/Shared/LoginLayout.cshtml";
    ViewBag.Title = "Kennwort vergessen?";
    SiteTitle = "Kennwort vergessen";
}

<h2 class="text-center">Kennwort vergessen?</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Gib hier deine E-Mail-Adresse ein, mit der du dich bei uns registriert hast. Wenn wir deine E-Mail in unserer Datenbank finden, erhältst du eine E-Mail mit einem Link, mit dem du dein Passwort
    wiederherstellen kannst.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label sr-only" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "janedoe@example.com" })
    </div>
    <div class="btn-group">
            <input type="submit" class="btn btn-primary" value="Link per E-Mail senden" />
            <a href="@Url.Action("Login")" class="btn btn-link">Zurück</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
