@using Pokefans.Models

@model LoginViewModel
@{
    Layout = "~/Areas/user/Views/Shared/LoginLayout.cshtml";
    ViewBag.Title = "Anmelden";
    SiteTitle = "Anmelden";
}

<div class="text-center">

    <h2>@ViewBag.Title</h2>
</div>
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class="sr-only"})
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="E-Mail oder Benutzername"})
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Passwort" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
            </div>
            <div class="btn-group mx-auto w-100">
                <button type="submit" class="btn btn-primary w-100">Anmelden</button>
            </div>
            <p class="mt-2">Noch keinen Account? <a href="@Url.Action("Register")">Kostenlos registrieren</a>!</p>
            <p class="small mt-1">
                @Html.ActionLink("Ich habe mein Passwort vergessen", "ForgotPassword")<br />
                @Html.ActionLink("Ich habe keine Aktivierungs-E-Mail bekommen", "ResendMailVerification")
            </p>
        }
    </section>
    <p class="striketext"><span>oder</span></p>
    <section id="socialLoginForm">
        @Html.Partial("~/Areas/user/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}