@model Pokefans.Models.RegisterViewModel
@{
    Layout = "~/Areas/user/Views/Shared/LoginLayout.cshtml";
    ViewBag.Title = "Registrieren";
    SiteTitle = "Registrieren";
}

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Erstelle dir jetzt einen neuen Account auf Pokefans und werde noch heute Teil einer großen Community.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group form-check">
        @Html.CheckBoxFor(m => m.AcceptedToS, new { @class = "form-check-input" })
        <label class="form-check-label">Ich akzeptiere die <a href="#" target="_blank">Nutzungsbedingungen, Community-Richtlinien und Datenschutzerklärung</a>.</label>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Kostenlos registrieren</button>
        <a href="@Url.Action("Login")" class="btn btn-link">Zurück</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
