@*Copyright 2017 the pokefans authors. See copying.md for legal info.*@
@using Pokefans.Areas.user.Models
@using Pokefans.Data.UserData
@model PrivateMessage
@{
    Breadcrumbs.Add("Mitgliedsbereich", "Profile", "Index");
    Breadcrumbs.Add("Private Nachrichten", "PrivateMessage", "Index");
    Breadcrumbs.Add("Gesendete Nachrichten", "PrivateMessage", "Sent");
    SiteTitle = "Private Nachrichten - Gesendete Nachrichten";
    SiteHeader = "Private Nachrichten - Gesendete Nachrichten";
    SiteDescription = "";
    ActiveMenuKey = "";
}

<h1>Private Nachrichten</h1>
<div class="col-md-9">
    <h2>Private Nachricht melden</h2>
    <form method="post">
        <p>Danke für deine Meldung der Nachricht <strong>@Model.Subject</strong>! Bitte verrate uns noch den Grund der Meldung:</p>
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.Id" name="id" />
        <textarea placeholder="Grund hier eingeben" name="details" class="form-control" rows="10"></textarea>
        <p>
            Melde nur Nachrichten, die gegen unsere <a href="@Url.Map("pokefans/regeln", "")">Community-Richtlinien</a> verstoßen.
            Um Missbrauch vorzubeugen, speichern wir zu jeder Meldung die IP-Adresse des Meldenden. Mit dem Melden erhält die Moderation Zugriff auf diese Private Nachricht.
        </p>
        <button type="submit" class="btn btn-primary">Akzeptieren &amp; Absenden</button>
    </form>
</div>
<div class="col-md-3">
    <h3 class="h4">Ordner</h3>
    <nav class="nav nav-pills nav-stacked">
        <li class=""><a href="@Url.Action("Index")">Posteingang</a></li>
        <li class=""><a href="@Url.Action("Outbox")">Postausgang</a></li>
        <li class=""><a href="@Url.Action("Sent")">Gesendet</a></li>
    </nav>
    <hr>
    <h3 class="h4">Hinweise</h3>
    <p>Meldungen werden von unseren ehrenamtlich tätigen Moderatoren schnellstmöglich bearbeitet. 
    Melde niemanden zum Spaß! Wir überprüfen jede Meldung genau. Sollten wir Rückfragen haben, setzen wir uns mit dir per Privater Nachricht in Verbindung.</p>
    <hr>
    <h3 class="h4">Einstellungen</h3>
    <nav class="nav nav-pills nav-stacked">
        <li><a href="@Url.Action(" ManageLabels")"><i class="fa fa-tags fa-lg"></i> Label verwalten</a></li>
        <li><a href="@Url.Action(" ManageRules")"><i class="fa fa-filter fa-lg"></i> Regeln verwalten</a></li>
    </nav>
</div>