@*Copyright 2018 the pokefans authors. See copying.md for legal info.*@
@using Pokefans.Areas.user.Models
@using Pokefans.Data.UserData
@model PrivateMessageViewModel
@{
    Breadcrumbs.Add("Mitgliedsbereich", "Profile", "Index");
    Breadcrumbs.Add("Private Nachrichten", "PrivateMessage", "Index");
    Breadcrumbs.Add("Private Nachricht ansehen");
    SiteTitle = "Private Nachricht";
    SiteHeader = "Private Nachricht";
    SiteDescription = "";
    ActiveMenuKey = "";
}

<h1>Private Nachrichten</h1>

<div class="col-lg-9">
    <h2>@Model.Message.Subject</h2>
    <dl class="dl-horizontal">
        <dt>Von:</dt>
        <dd><a href="@Url.Map("profile/"+Model.From.Url)">@Model.From.UserName</a></dd>
        <dt>An:</dt>
        <dd>@Model.Message.ToLine</dd>
        <dt>Am:</dt>
        <dd>@Model.Message.Sent.ToString("dd.MM.yyyy HH:mm")</dd>
    </dl>
    <p class="pm-body">@Html.Raw(Model.Message.Body)</p>
    <div class="clear">
    <div class="btn-group">
        <a class="btn btn-default" href="@Url.Action("Compose", "PrivateMessage", new { reply = Model.Message.Id })"><i class="fa fa-reply fa-lg"></i> Antworten</a>
        <a class="btn btn-default" href="@Url.Action("Compose", "PrivateMessage", new { reply = Model.Message.Id, all = true })"><i class="fa fa-reply-all fa-lg"></i> Allen Antworten</a>
    </div>
    <div class="btn-group pull-right">
        <a class="btn btn-default" href="@Url.Action("Delete", "PrivateMessage", new { id = Model.DeleteKey, inbox = Model.IsInbox })"><i class="fa fa-trash fa-lg"></i> Nachricht löschen</a>
        @if (Model.IsInbox)
        {
        <a class="btn btn-default" href="@Url.Action("Report", "PrivateMessage", new { id = Model.Message.Id })" title="Nachricht melden"><i class="fa fa-exclamation"></i><span class="sr-only"> Nachricht melden</span></a>
        }
    </div>
        </div>
    @if (Model.ReportTime.HasValue)
    {
        <div class="pull-right text-danger">Du hast diese Nachricht am @Model.ReportTime.Value.ToString("dd.MM.yyyy") um @Model.ReportTime.Value.ToString("HH:mm") gemeldet.</div>
    }
</div>
<div class="col-lg-3">
    <h3>Aktive Labels</h3>
    <p class="help-block">Klicken zum entfernen.</p>
    <p class="current-labels">@foreach (var label in Model.MessageLabels) {
        <a href="#"><span class="label label-default" style="background-color: @label.Color">@label.Label</span></a>
    }</p>
    <hr>
    <h3 class="h4">Ordner</h3>
    <nav class="nav nav-pills nav-stacked">
        <li class=""><a href="@Url.Action("Index")">Posteingang</a></li>
        <li class=""><a href="@Url.Action("Outbox")">Postausgang</a></li>
        <li class=""><a href="@Url.Action("Sent")">Gesendet</a></li>
    </nav>
    <hr>
    <h3 class="h4">Label</h3>
    <p class="help-block">Klicken, um zuzuweisen.</p>
    <p class="labels-available">@foreach(var label in Model.Labels) {
        <a href="#"><span class="label label-default" style="background-color: @label.Value.Color">@label.Value.Label</span></a>
    }</p>
    <hr>
    <h3 class="h4">Einstellungen</h3>
    <nav class="nav nav-pills nav-stacked">
        <li><a href="@Url.Action("ManageLabels")"><i class="fa fa-tags fa-lg"></i> Label verwalten</a></li>
        <li><a href="@Url.Action("ManageRules")"><i class="fa fa-filter fa-lg"></i> Regeln verwalten</a></li>
    </nav>
</div>

@section submenu {
    @Html.Partial("~/Areas/user/Views/Shared/_submenuPartial.cshtml", new UserSubmenuViewModel("manage", ""))
}