@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@model Pokefans.Areas.fanart.Models.FanartIndexViewModel
@using System.Configuration
@{
    SiteTitle = "Fanart-Übersicht";
    SiteHeader = "Pokémon-Fanart: Zeichnungen, Sprites und Maps";
    SiteDescription = "";
    ActiveMenuKey = "fanart";
}

<h1>@SiteHeader</h1>
@if (Model.Teaser == null)
{
    <text>Config error: teaser article not found</text>
}
else {
    <text>@Html.Raw(@Model.Teaser.ParsedContent)</text>
}
<hr />
<div id="fanartcontainer" data-bind="foreachInit: groupedFanarts">
    @{
        int wrap = 0;
    }
    @foreach (var fanart in Model.Fanarts)
    {
        if (wrap == 0)
        {
            @Html.Raw("<div class=\"stream-row\">");
        }
        string fanartCat = ViewBag.FanartCatUrls[fanart.CategoryId];
        <a data-id="@fanart.Id" href="@Url.Map(fanartCat + "/" + fanart.Id, "fanart")"><img src="@Url.Map("/fanart/uploads/"+fanart.SmallThumbnailUrl, "files")" /></a>
        wrap++;
        if (wrap == 8)
        {
            @Html.Raw("</div>")
            wrap = 0;
        }
    }
    @if(wrap != 0)
    {
        @Html.Raw("</div>");
    }
</div>

@section Submenu {
    @Html.Partial("~/Areas/fanart/Views/Shared/_submenuPartial.cshtml", new FanartSubmenuViewModel("", ""))
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/waypoints")
    @Scripts.Render("~/bundles/fanart")
}