@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@model Pokefans.Areas.fanart.Models.FanartIndexViewModel
@using System.Configuration
@{
    SiteTitle = "Fanart-Übersicht";
    SiteHeader = "Pokémon-Fanart: Zeichnungen, Sprites und Maps";
    SiteDescription = "";
    ActiveMenuKey = "fanart";
}

<h1>@SiteHeader</h1>
@if (Model.Teaser == null)
{
    <text>Config error: teaser article not found</text>
}
else {
    <text>@Html.Raw(@Model.Teaser.ParsedContent)</text>
}
<hr />
<div id="fanartcontainer" data-bind="foreachInit: groupedFanarts">
    @{
        int wrap = 0;
    }
    @foreach (var fanart in Model.Fanarts)
    {
        if (wrap == 0)
        {
            @Html.Raw("<div class=\"stream-row\" data-bind=\"foreach: $data\">");
        }
        <a data-id="@fanart.Id" data-url="@ViewBag.FanartCatUrls[fanart.CategoryId]/@fanart.Id"><img src="//files.@ConfigurationManager.AppSettings["Domain"]/fanart/uploads/@fanart.SmallThumbnailUrl" /></a>
        wrap++;
        if (wrap == 8)
        {
            @Html.Raw("</div>")
            wrap = 0;
        }
    }
    @if(wrap != 0)
    {
        @Html.Raw("</div>");
    }
</div>

<div class="fanart" data-bind="if: currentImage">
    <h2 data-bind="text: currentImage.title"></h2>
    <div class="navigator">
        <div class="left">
            <a href="#"><i class="fa fa-caret-left fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="#"><i class="fa fa-caret-right fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="right max" data-bind="if: currentImage.Scale">
            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
        <img src="http://files.pokefans.net/fanart/uploads/u945/f33511.jpg" />
    </div>
</div>

@section Submenu {
    @Html.Partial("~/Areas/fanart/Views/Shared/_submenuPartial.cshtml", "")
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/waypoints")
    @Scripts.Render("~/bundles/fanart")
}