@*Copyright 2019 the pokefans authors. See copying.md for legal info.*@
@using Pokefans.Data.Wifi
@model IQueryable<OfferReport>
    @{
        SiteTitle = "Pokefans | Wifi-Meldungen";
        SiteHeader = "Wifi-Meldungen";
        SiteDescription = "";
        Layout = "~/Areas/mitarbeit/Views/_Layout.cshtml";
        Breadcrumbs.Add("Mitarbeitsbereich");
    }
    <div class="box box-primary" data-bind="with: selected">
        <div class="box-header">
            <h3 class="box-title">Meldung zum Angebot <span data-bind="text: title"></span></h3>
        </div>
        <div class="box-body">

        </div>
    </div>

    <div class="box box-danger">
        <div class="box-header">
            <h3>Meldungen</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped table-hover" role="report-table" data-load="@Url.Map("api/v1/wifi/report/", "mitarbeit")">
                <thead>
                    <tr>
                        <th>Benutzername</th>
                        <th>Titel</th>
                        <th>Melder</th>
                        <th>Meldezeitpunkt</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OfferReport report in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Notes", "User", new { id = report.Offer.UserId })" class="@report.Offer.User.DisplayCss">@report.Offer.User.UserName</a></td>
                            <td>@report.Offer.Title</td>
                            <td><a href="@Url.Action("Notes", "User", new { id = report.UserId })" class="@report.User.DisplayCss">@report.User.UserName</a></td>
                            <td>@report.ReportedOn.ToString("dd.MM.yyyy hh:mm")</td>
                            <td><button class="btn btn-default" data-bind="click: investigate.bind(this, @report.Id)"><i class="fa fa-pencil"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ViewBag.Start > 0)
            {
                int start = ViewBag.Start - 50;
                if (start < 0) { start = 0; }
                <a href="@Url.Action("Reports", "Wifi", new { start = start })" class="btn btn-default">Vorherige</a>
            }
            @if (ViewBag.HasMore)
            {
                <a href="@Url.Action("Reports", "Wifi", new { start = (ViewBag.Start + 50) })" class="btn btn-default">Nächste</a>
            }
        </div>
    </div>

    @helper tickCross(bool value) {
        if (value) {
        <i class="text-success fa fa-lg fa-check"></i>
        } else {
        <i class="text-danger fa fa-lg fa-times"></i>
        }
}

    @helper expire(DateTime? value) {
        if(value.HasValue) {
        <text>bis zum @value.Value.ToString("dd.MM.yyyy hh:mm")</text>
        } else {
        <text>Unbegrenzt</text>
        }
}

    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/reports")
    }

