@using Microsoft.AspNet.Identity
@using System.Configuration;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

            @Html.ActionLink("Hallo " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { Area = "user" }, htmlAttributes: new { title = "Manage" })
        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg"></i> Abmelden</a>
        @* This needs to get a popover done; also loading more with AJAX. *@
        <a href="#">&nbsp;<i class="fa fa-envelope fa-lg"></i>
        @if(UnreadMessages > 0) {
            <span class="label label-default mini-counter">@UnreadMessages.ToString()</span>
	    }
        </a>
        <a href="#">&nbsp;<i class="fa fa-bell fa-lg"></i>
        @if(UnreadNotifications > 0) {
            <span class="label label-default mini-counter">@UnreadNotifications.ToString()</span>
        }
        </a>
    }
}
else
{
        @Html.ActionLink("Registrieren", "Register", "Account", "user", routeValues: new { Area = "user" }, htmlAttributes: new { id = "registerLink" })<span> | </span>
        @Html.ActionLink("Anmelden", "Login", "Account", "user", routeValues: new { Area = "user" }, htmlAttributes: new { id = "loginLink" })
}
