
@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@model Pokefans.Models.TradingSubmenuViewModel

<nav class="navbar navbar-light navbar-expand bg-pf-grey" id="trading">
    <ul class="navbar-nav">
        <li class="nav-item @(Model.ActiveMenuKey == "home" || string.IsNullOrWhiteSpace(Model.ActiveMenuKey) ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Trading", null)" id="home">Übersicht</a>
        </li>
    </ul>
    <form class="form-inline d-none d-sm-flex mr-auto" role="search" method="get" action="@Url.Map("tausch/suche")">
        <div class="input-group">
            <input type="text" class="form-control" id="term" name="term" placeholder="Alles durchsuchen" value="@Model.SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <ul class="navbar-nav">
        <li class="nav-item @(Model.ActiveMenuKey == "add" ? "active" : "")"><a class="nav-link" href="@Url.Action("AddOffer", "Trading")" title="Angebot hinzufügen"><i class="fa fa-plus fa-lg"></i>Angebot hinzufügen</a></li>
        <li class="nav-item @(Model.ActiveMenuKey == "own" ? "active" : "")"><a class="nav-link" href="@Url.Action("My", "Trading")" title="Meine Angebote"><i class="fa fa-th-list fa-lg"></i> Meine Angebote</a></li>
        <li class="nav-item @(Model.ActiveMenuKey == "protocol" ? "active" : "")"><a class="nav-link" href="@Url.Action("Protocol","Trading")" title="Mein Tauschprotokoll"><i class="fa fa-list-alt fa-lg"></i> Mein Tauschprotokoll</a></li>
    </ul>
</nav>
