@model Pokefans.Models.OfferViewModel
@using Pokefans.Data.Pokedex
@using Pokefans.Models
@{
    SiteTitle = "Tauschbörse";
    SiteHeader = "Tauschbörse: Pokemon online tauschen";
    SiteDescription = "";
    ActiveMenuKey = "trading";
    Pokefans.Data.Wifi.NormalOffer Offer = Model.Offer;

    Dictionary<PokemonGeneration, string> images = new Dictionary<PokemonGeneration, string>
    {
        { PokemonGeneration.Generation6, "//files.pokefans.net/images/or-as/logo-gemeinsam-klein.png" },
        { PokemonGeneration.Generation7, "//files.pokefans.net/images/sonne-mond/sonne-mond-logo-klein.png" }
    };
    Dictionary<PokemonGeneration, string> names = new Dictionary<PokemonGeneration, string>
    {
        { PokemonGeneration.Generation6, "Generation 6 (XY, OR/AS)" },
        { PokemonGeneration.Generation7, "Generation 7 (Sonne/Mond)" }
    };
}

<h2>Angebot: @Offer.Title</h2>
<div class="clearfix">
    <div class="col-sm-2">
        <img src="//files.pokefans.net/sprites/global-link/120px/@(Offer.Pokemon.PokedexId.ToString()).png" class="img-responsive pull-left" />
    </div>
    <div class="col-sm-10">
        <h3>@Offer.Pokemon.Name.German</h3>
        <ul class="list-unstyled">
            <li>Zu tauschen auf @names[Offer.Generation]</li>
            @tickcross(Offer.IsOriginalTrainer, "Qualität vom Originaltrainer", "Nicht vom Originaltrainer")
            @displayIf(Offer.HasPokerus, "Hat den Pokerus")
            @displayIf(Offer.IsShiny, "Dieses Pokemon ist Shiny")
            @displayIf(Offer.CheatUsed, "Dieses Pokemon wurde durch Cheats beeinflusst")
            @tickcross(Offer.IsClone, "Dieses Pokemon wurde geklont", "Dieses Pokemon wurde nicht geklont")
            @displayIf(Offer.IsEvent, "Dieses Pokemon ist ein Event-Pokemon")
            @displayIf(Offer.RngUsed, "Für dieses Pokemon wurde gezielt Einfluss auf den PRNG genommen")
            @if (Offer.Ability != null)
            {
                <li>Fähigkeit: @Offer.Ability.Name.German</li>
            }
            <li>Level @Offer.Level</li>
        </ul>
    </div>
</div>
<div class="col-xs-12">
    <p>@Offer.InterestCount Interessenten <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Ich interessiere mich für dieses Pokemon!</a></p>
    <h3>Details</h3>
    @if (Offer.HasAttacks)
    {
        <p>
            Attacken:
            <ul>
                @displayAttack(Offer.Attack1)
                @displayAttack(Offer.Attack2)
                @displayAttack(Offer.Attack3)
                @displayAttack(Offer.Attack4)
            </ul>
        </p>
    }
    @if (Offer.AbsoluteValues.Any() || Offer.EffortValues.Any() || Offer.DeterValues.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>KP</th>
                    <th>Angr</th>
                    <th>Vert</th>
                    <th>SpAngr</th>
                    <th>SpVert</th>
                    <th>Init</th>
                </tr>
            </thead>
            <tbody>
                @displayStatusvalues(Offer.AbsoluteValues, "Statuswerte")
                @displayStatusvalues(Offer.EffortValues, "EVs")
                @displayStatusvalues(Offer.DeterValues, "DVs")
            </tbody>
        </table>
    }
    <hr />
    @Html.Raw(Offer.Description)
    <hr />
    @{ Html.RenderPartial("CommentPartial", Model.Comments); }
</div>
@section sidebar {
    <h3>Über den Anbieter</h3>
    <img class="img-responsive" src="@Offer.User.AvatarUrl" />
    <strong class="size-h4"><a href="@Url.Action("View", "Profile", new { area = "user", id = Offer.User.Url })">@Offer.User.UserName</a></strong>
    <ul class="list-unstyled">
        <li><i class="fa fa-clock-o"></i> Registriert seit @Offer.User.Registered.ToString("d.M.yyyy")</li>
        <li><i class="fa fa-list"></i>Insgesamt @ViewBag.OfferCount Angebote in der Tauschbörse</li>
        @*Forenposts*@
        @*Sonstige sinnvolle Metriken?*@
    </ul>
}

@section submenu {
    @Html.Partial("_submenuPartial", new TradingSubmenuViewModel() { ActiveMenuKey = "", SearchTerm = "" })
}

@section scripts {
    @Scripts.Render("~/bundles/comments")
}

@helper tickcross(bool value, string displayText)
{
tickcross(value, displayText, displayText);
}

@helper tickcross(bool value, string displayTrue, string displayFalse)
{
    <li>
        @if (value)
        {
            <i class="fa fa-check text-success fa-lg"></i> @displayTrue
        }
        else
        {
            <i class="fa fa-times fa-lg text-danger"></i> @displayFalse
        }
    </li>
}

@helper displayAttack(Attack att)
{
if (att != null)
{
    // TODO: attackendexurl!
    <li><a href="#">@att.Name.German</a></li>
}
}

@helper displayIf(bool value, string displayText)
{
if (value)
{
        <li><i class="fa fa-check text-success fa-lg"></i> @displayText</li>
}
}

@helper displayStatusvalues(PokemonStatusvalues vals, string label)
{
if (vals.Any())
{
        <tr>
            <td>@label</td>
            <td>@vals.HP</td>
            <td>@vals.Attack</td>
            <td>@vals.Defense</td>
            <td>@vals.SpecialAttack</td>
            <td>@vals.SpecialDefense</td>
            <td>@vals.Speed</td>
        </tr>
}
}