@model Pokefans.Models.OfferViewModel
@using Pokefans.Data.Pokedex
@using Pokefans.Data.Wifi
@using Pokefans.Models
@{
    SiteTitle = "Tauschbörse";
    SiteHeader = "Tauschbörse: Pokemon online tauschen";
    SiteDescription = "";
    ActiveMenuKey = "trading";
    Pokefans.Data.Wifi.NormalOffer Offer = Model.Offer;

    Dictionary<PokemonGeneration, string> images = new Dictionary<PokemonGeneration, string>
{
{ PokemonGeneration.Generation6, "//files.pokefans.net/images/or-as/logo-gemeinsam-klein.png" },
{ PokemonGeneration.Generation7, "//files.pokefans.net/images/sonne-mond/sonne-mond-logo-klein.png" }
};
    Dictionary<PokemonGeneration, string> names = new Dictionary<PokemonGeneration, string>
{
{ PokemonGeneration.Generation6, "Generation 6 (XY, OR/AS)" },
{ PokemonGeneration.Generation7, "Generation 7 (Sonne/Mond)" }
};
    Breadcrumbs.Add("Tauschbörse", "Trading", "Index");
    Breadcrumbs.Add("Angebot " + Offer.Title);
}


<h2>Angebot: @Offer.Title</h2>
@if (Offer.Status == TradingStatus.Completed || Offer.Status == TradingStatus.PartnerChosen)
{
    <div class="alert alert-info">Dieses Pokemon wurde bereits vertauscht. Diese Seite ist eine Archivversion des Angebots.</div>
}
else if (Offer.Status == TradingStatus.Withdrawn)
{
    <div class="alert alert-warning">Der Anbieter hat das Angebot zurückgezogen. Diese Seite ist eine Archivversion des Angebots.</div>
}
else if (Offer.Status == TradingStatus.Deleted)
{
    <div class="alert alert-danger">Dieses Angebot wurde von der Moderation gelöscht; Details siehe BVS des Anbieters.</div>
}

@if (Offer.UpdateTime.AddDays(180) < DateTime.Now)
{
    <div class="alert alert-info">
        Dieses Angebot ist schon sehr alt, es kann daher sein, dass es nicht mehr aktuell ist.
        @if (CurrentUser.Id == Offer.UserId)
        {
            <a href="@Url.Action("Reactivate", new { id = Offer.Id })" class="btn btn-primary">Mein Angebot ist noch aktuell</a>
        }
    </div>
}
<div class="clearfix">
    <div class="col-md-2">
        <img src="//files.pokefans.net/sprites/global-link/120px/@(Offer.Pokemon.PokedexId.ToString()).png" class="img-responsive pull-left" />
    </div>
    <div class="col-md-10">
        <h3>@Offer.Pokemon.Name.German</h3>
        <ul class="list-unstyled">
            <li>Zu tauschen auf @names[Offer.Generation]</li>
            @tickcross(Offer.IsOriginalTrainer, "Qualität vom Originaltrainer", "Nicht vom Originaltrainer")
            @displayIf(Offer.HasPokerus, "Hat den Pokerus")
            @displayIf(Offer.IsShiny, "Dieses Pokemon ist Shiny")
            @displayIf(Offer.CheatUsed, "Dieses Pokemon wurde durch Cheats beeinflusst")
            @tickcross(Offer.IsClone, "Dieses Pokemon wurde geklont", "Dieses Pokemon wurde nicht geklont")
            @displayIf(Offer.IsEvent, "Dieses Pokemon ist ein Event-Pokemon")
            @displayIf(Offer.RngUsed, "Für dieses Pokemon wurde gezielt Einfluss auf den PRNG genommen")
            @if (Offer.Ability != null)
            {
                <li>Fähigkeit: @Offer.Ability.Name.German</li>
            }
            <li>Level @Offer.Level</li>
        </ul>
    </div>
</div>
<div class="col-12">
    <p>
        @Offer.InterestCount Interessenten <br />
        @if (CurrentUser != null && Offer.UserId == CurrentUser.Id)
        {
            <a href="@Url.Action("Manage", new { id = Offer.Id })" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Tauschpartner auswählen und Tausch verwalten</a>
        }
        else
        {
            if (Model.Interest == null)
            {
                <a href="@Url.Action("Interest", new { id = Offer.Id })" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Ich interessiere mich für dieses Pokemon!</a>
            }
            else
            {
                <div class="alert alert-success"><i class="fa fa-2x fa-check"></i> Du hast dich am @Model.Interest.Timestamp.ToString("dd.MM.yyyy") als Interessent_in gemeldet.</div>
            }
        }
    </p>
    @if (Offer.HasAttacks || Offer.AbsoluteValues.Any() || Offer.EffortValues.Any() || Offer.DeterValues.Any())
    {
        <h3>Details</h3>
        if (Offer.HasAttacks)
        {
            <p>
                Attacken:
                <ul>
                    @displayAttack(Offer.Attack1)
                    @displayAttack(Offer.Attack2)
                    @displayAttack(Offer.Attack3)
                    @displayAttack(Offer.Attack4)
                </ul>
            </p>
        } 
        if (Offer.AbsoluteValues.Any() || Offer.EffortValues.Any() || Offer.DeterValues.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>KP</th>
                        <th>Angr</th>
                        <th>Vert</th>
                        <th>SpAngr</th>
                        <th>SpVert</th>
                        <th>Init</th>
                    </tr>
                </thead>
                <tbody>
                    @displayStatusvalues(Offer.AbsoluteValues, "Statuswerte")
                    @displayStatusvalues(Offer.EffortValues, "EVs")
                    @displayStatusvalues(Offer.DeterValues, "DVs")
                </tbody>
            </table>
        }
    } 
    @if (!string.IsNullOrEmpty(Offer.Description))
    {
                <hr />
                @Html.Raw(Offer.Description)
            }
            <span class="pull-right"><a href="@Url.Action("Report", "Trading", new { id = Offer.Id })" class="text-muted small"><i class="fa fa-exclamation-circle"></i> Angebot melden</a></span>
            <hr />
            @{ Html.RenderPartial("CommentPartial", Model.Comments); }
        </div>
@section sidebar {
    <h3>Über den Anbieter</h3>
    <p><img class="img-responsive" src="@Offer.User.AvatarUrl" /></p>
    <strong class="size-h4"><a href="@Url.Profile(Offer.User)" class="@Offer.User.Color">@Offer.User.UserName</a></strong>
    <ul class="list-unstyled">
        <li><i class="fa fa-clock-o"></i> Registriert seit @Offer.User.Registered.ToString("d.M.yyyy")</li>
        <li><i class="fa fa-list"></i>Insgesamt @ViewBag.OfferCount Angebote in der Tauschbörse</li>
        <li>
            @if (Offer.User.TradingPercentPositive == 0 && Offer.User.TradingPercentNeutral == 0 && Offer.User.TradingPercentNegative == 0)
            {
                <span>Noch keine Bewertungen</span>
            }
            else
            {
                <i class="fa fa-thumbs-up fa-lg text-success"></i> @String.Format("{0}%", Offer.User.TradingPercentPositive)
                <i class="fa fa-lg fa-minus blur"></i> @String.Format("{0}%", Offer.User.TradingPercentNeutral)
                <i class="fa fa-thumbs-down fa-lg text-danger"></i> @String.Format("{0}%", Offer.User.TradingPercentNegative)
            }
        </li>
        @*Forenposts*@
        @*Sonstige sinnvolle Metriken?*@
    </ul>
    @if (Context.User.IsInRole("wifi-moderator"))
    {
        <p>
            <a href="@Url.Map($"moderation/tausch/{Offer.Id}", "mitarbeit")" class="btn btn-danger">Moderieren</a>
        </p>
    }
}

@section submenu {
    @Html.Partial("_submenuPartial", new TradingSubmenuViewModel() { ActiveMenuKey = "", SearchTerm = "" })
}

@section scripts {
    @Scripts.Render("~/bundles/comments")
}

@helper tickcross(bool value, string displayText)
    {

tickcross(value, displayText, displayText);
}

@helper tickcross(bool value, string displayTrue, string displayFalse)
{
    <li>
        @if (value)
        {
        <i class="fa fa-check text-success fa-lg"></i>  @displayTrue
        }
        else
        {
        <i class="fa fa-times fa-lg text-danger"></i>  @displayFalse
        }
    </li>
}

@helper displayAttack(Attack att)
{
if (att != null)
{
    // TODO: attackendexurl!
    <li><a href="#">@att.Name.German</a></li>
}
}

@helper displayIf(bool value, string displayText)
{
if (value)
{
    <li><i class="fa fa-check text-success fa-lg"></i> @displayText</li>
}
}

@helper displayStatusvalues(PokemonStatusvalues vals, string label)
{
if (vals.Any())
{
    <tr>
        <td>@label</td>
        <td>@vals.HP</td>
        <td>@vals.Attack</td>
        <td>@vals.Defense</td>
        <td>@vals.SpecialAttack</td>
        <td>@vals.SpecialDefense</td>
        <td>@vals.Speed</td>
    </tr>
}
}