@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@model UserBanViewModel
@{
    SiteTitle = "Sperren";
    SiteHeader = "Benutzerverwaltung";
    SiteDescription = "Benutzer ganz oder teilweise sperren";
    Layout = "~/Areas/mitarbeit/Views/_Layout.cshtml";

    bool isGlobalBanned = false;
}

<div class="row" id="bvs-bans">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                Hier kannst du den Sperrstatus von @Model.User.UserName einsehen und bearbeiten.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box" data-bind="with: globalBan" id="globalban" data-endpoint="@Url.Action("UpdateBan", "User")">
            <div class="box-header">
                <h3 class="box-title">Seitenweite Sperrung</h3>
            </div>
            <div class="box-body">
                <p data-bind="init, text: banMessage">
                    @Model.User.UserName ist
                    @if (Model.GlobalBan != null && Model.GlobalBan.IsBanned)
                    {
                        isGlobalBanned = true;
                        if (Model.User.LockedOutDate.HasValue)
                        {
                            <text>gesperrt bis zum @Model.User.LockedOutDate.Value.ToString("d.M.yyyy, HH:mm:ss").</text>
                        }
                        else
                        {
                            <text>dauerhaft gesperrt.</text>
                        }
                    }
                    else
                    {
                        <text>nicht gesperrt.</text>
                    }
                </p>
                @if (User.IsInRole("global-moderator"))
                {
                    <form class="form">
                        <div class="form-group">
                            <label for="userReason">Dem gesperrten angezeigter Grund:</label>
                            <textarea class="form-control" data-bind="init, textInput: reason">@Model.GlobalBan.BanReason</textarea>
                        </div>
                        <div class="form-group">
                            <label for="bvsNote">Notizen für die BVS:</label>
                            <textarea class="form-control" data-bind="textInput: bvs"></textarea>
                        </div>
                        <button class="btn btn-danger" data-bind="init, text: banButton, click: update">
                            @if (isGlobalBanned)
                            {
                                <text>Entsperren</text>
                            }
                            else
                            {
                                <text>Sperren</text>
                            }

                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Fanart-Banstatus</h3>
            </div>
            <div class="box-body">
                <p>Lege hier den Banstatus fest. Ein nicht gesetzter Haken bedeutet, dass der Benutzer diese Aktion nicht ausführen darf.</p>
                @{
                    string disabled = "disabled";
                    if (User.IsInRole("fanart-moderator"))
                    {
                        disabled = "";
                    }
                    bool canEdit = Model.FanartBan == null ? true : Model.FanartBan.CanEdit;
                    bool canDelete = Model.FanartBan == null ? true : Model.FanartBan.CanDelete;
                    bool canUpload = Model.FanartBan == null ? true : Model.FanartBan.CanUpload;
                    bool canRate = Model.FanartBan == null ? true : Model.FanartBan.CanRate;
                }
                <form role="form"
                      id="fanart-bans"
                      data-bind="with: fanartBans"
                      data-endpoint="@Url.Action("ModifyFanartBan", "User")">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" data-bind="init, value: id" value="@Model.User.Id" />
                    <div class="checkbox">
                        <label>
                            <input data-bind="init, checked: CanEdit" type="checkbox" name="CanEdit" @disabled @(canEdit ? "checked" : "")> Eigene Einreichungen bearbeiten
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input data-bind="init, checked: CanDelete" type="checkbox" name="CanDelete" @disabled @(canDelete ? "checked" : "")> Eigene Einreichungen löschen
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input data-bind="init, checked: CanUpload" type="checkbox" name="CanUpload" @disabled @(canUpload ? "checked" : "")> Neue Einreichungen hochladen
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input data-bind="init, checked: CanRate" type="checkbox" name="CanRate" @disabled @(canRate ? "checked" : "")> Einreichungen bewerten
                        </label>
                    </div>
                    @if (User.IsInRole("fanart-moderator"))
                    {
                        <button class="btn btn-primary" id="fanart-banhammer" data-bind="">Aktualisieren</button>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/backend")
}

@section BvsSubMenu {
    @Html.Partial("~/Areas/mitarbeit/Views/Shared/_BvsUserMenuPartial.cshtml", new UserMenuModel() { Id = Model.User.Id, Url = Model.User.Url, Active = "notes" })
}

