@*Copyright 2016-2019 the pokefans authors. See copying.md for legal info.*@
@model UserBanViewModel
@{
    SiteTitle = "Sperren";
    SiteHeader = "Benutzerverwaltung";
    SiteDescription = "Benutzer ganz oder teilweise sperren";
    Layout = "~/Areas/mitarbeit/Views/_Layout.cshtml";

    bool isGlobalBanned = false;
}

<div class="row" id="bvs-bans">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                Hier kannst du den Sperrstatus von @Model.User.UserName einsehen und bearbeiten.
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.Partial("~/Areas/mitarbeit/Views/User/Bans/_GlobalBanPartial.cshtml", Model)
    @Html.Partial("~/Areas/mitarbeit/Views/User/Bans/_FanartBanPartial.cshtml", Model)
    @Html.Partial("~/Areas/mitarbeit/Views/User/Bans/_WifiBanPartial.cshtml", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/backend")
}

@section BvsSubMenu {
    @Html.Partial("~/Areas/mitarbeit/Views/Shared/_BvsUserMenuPartial.cshtml", new UserMenuModel() { Id = Model.User.Id, Url = Model.User.Url, Active = "bans" })
}

