@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@model string
<div class="navbar navbar-default navbar-nocollapse" id="fanartbar">
    <div class="container clearfix">
        <ul class="nav navbar-nav">
            <li class="@(Model == "new" ? "active" : "")"><a href="@Url.Action("New")" id="new">Neu</a></li>
            <li class="@(Model == "popular" || string.IsNullOrWhiteSpace(Model) ? "active" : "")"><a href="@Url.Action("Popular")" id="popular">Beliebt</a></li>
        </ul>
        <form class="navbar-form navbar-left hidden-xs" role="search">
            <div class="input-group">
                <input type="text" class="form-control" id="fanartsearch" placeholder="Alles durchsuchen" />
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="@(Model == "manage" ? "active" : "")"><a href="@Url.Action("Index", "Manage")" title="Bilder verwalten"><i class="fa fa-gears fa-lg"></i></a></li>
            <li class="@(Model == "upload" ? "active" : "")"><a href="@Url.Action("Upload", "Manage")" title="Ein Bild hochladen"><i class="fa fa-cloud-upload fa-lg"></i></a></li>
            <li><a href="#" title="Zufälliges Fanart"><i class="fa fa-random  fa-lg"></i></a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Kategorie wählen"><i class="fa fa-folder-open fa-lg"></i> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Sprites</a></li>
                    <li><a href="#">Maps</a></li>
                    <li><a href="#">Zeichnungen</a></li>
                    <li><a href="#">Pixelart</a></li>
                    <li><a href="#">Tilesets</a></li>
                    <li><a href="#">Sprites</a></li>
                    <li><a href="#">Avatare</a></li>
                    <li><a href="#">Fotos</a></li>
                    <li><a href="#">Sonstiges</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
