@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@model Pokefans.Areas.fanart.Models.FanartSubmenuViewModel
@using Pokefans.Caching;
<nav class="navbar navbar-light bg-light navbar-expand" id="fanartbar">
    <div class="clearfix">
        <ul class="navbar-nav">
            <li class="@(Model.ActiveMenuKey == "home" || string.IsNullOrWhiteSpace(Model.ActiveMenuKey) ? "active" : "")"><a href="@Url.Action("Index", "FanartHome", null)" id="home">Übersicht</a></li>
        </ul>
        <form class="form-inline mr-auto hidden-xs" role="search" method="get" action="@Url.Map("suche")">
            <div class="input-group">
                <input type="text" class="form-control" id="term" name="term" placeholder="Alles durchsuchen" value="@Model.SearchTerm" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item @(Model.ActiveMenuKey == "manage" ? "active" : "")"><a href="@Url.Action("Index", "Manage")" title="Bilder verwalten"><i class="fa fa-gears fa-lg"></i></a></li>
            <li class="nav-item @(Model.ActiveMenuKey == "upload" ? "active" : "")"><a href="@Url.Action("Upload", "Manage")" title="Ein Bild hochladen"><i class="fa fa-cloud-upload fa-lg"></i></a></li>
            <li class="nav-item"><a href="@Url.Action("Random", "FanartHome")" title="Zufälliges Fanart"><i class="fa fa-random  fa-lg"></i></a></li>
            <li class="nav-item dropdown">
                <a href="#" id="nav-category-dropdown" class="nav-link dropdown-togglee" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Kategorie wählen">
                    <i class="fa fa-folder-open fa-lg"></i> <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-category-dropdown">
                    @{
                        // todo: find a better place for this
                        Cache c = DependencyResolver.Current.GetService<Cache>();
                        Dictionary<int, string> cats = c.Get<Dictionary<int, string>>("FanartCategories");
                        foreach (var cat in cats)
                        {
                            <a href="@Url.Map("suche?term=category:"+cat.Value.ToLower(),"fanart")" class="dropdown-item">@cat.Value</a>
                        }
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
