@*Copyright 2015 the pokefans authors. See copying.md for legal info.*@
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@SiteTitle</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    @Styles.Render("~/Content/sfc/css")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/lightbox/css")
    @RenderSection("CustomHeaders", required:false)
  </head>
  <body>
    <div class="stripe"></div>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@Url.Map("")">The Search For Cheats</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-fixed">
            <li><a href="@Url.Map("tutorials")">Tutorials</a></li>
            <li><a href="@Url.Map("downloads")">Downloads</a></li>
            <li><a href="http://sfc.pokefans.net/codes/smaragd.html">Smaragd-Codes</a></li>
            <li><a href="http://sfc.pokefans.net/codes/frbg.html">FRBG-Codes</a></li>
            <li><a href="@Url.Map("codes/ards")">ARDS-Codes</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rips <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Map("rips/pokemon-diamant-perle-platin")">Pokemon Diamant, Perle &amp; Platin <span class="label label-primary">NDS</span></a></li>
                <li><a href="@Url.Map("rips/pokemon-heart-gold-soul-silver")">Pokemon HGSS <span class="label label-primary">NDS</span></a></li>
                <li><a href="@Url.Map("rips/another-code-the-two-memories")">Another Code / The Two Memories <span class="label label-primary">NDS</span></a></li>
                <li><a href="@Url.Map("rips/trauma-center-under-the-knife")">Trauma Center / Under The Knife <span class="label label-primary">NDS</span></a></li>
                <li class="divider"></li>
                <li><a href="@Url.Map("rips/pokemon-mystery-dungeon")">Pokemon Mystery Dungeon <span class="label label-warning">GBA</span></a></li>
              </ul>
            </li>
            <li><a href="@Url.Map("dayandnight")">DayAndNight</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Map("tools/formelsammlung")">Formelsammlung</a></li>
                <li><a href="@Url.Action("ArCrypt", "SfcHome")">ARCrypt online version</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section class="container content">
      <div class="row">
        <div class="col-lg-9" id="inhalt">
          @RenderBody()
        </div>
        <div class="col-lg-3" id="sidebar">
            <h3>Diverses</h3>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="@Url.Map("wallpaper")">Wallpaper</a></li>
                <li><a href="@Url.Map("inoffizielles")">Inoffizielles</a></li>
              </ul>
            <hr />
            @if(IsSectionDefined("Sidebar"))
            {
                RenderSection("Sidebar");
                <hr />
            }
            <h3>Aktuelle Themen</h3>
            @*<ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-comments"></i> Tools um Spiele zu editieren</a></li>
              <li><a href="#"><i class="fa fa-comments"></i> wii-spiele</a></li>
              <li><a href="#"><i class="fa fa-comments"></i> Nintendo Gamecube Gameboypl...</a></li>
              <li><a href="#"><i class="fa fa-comments"></i> Hacks patchen, Hilfe!</a></li>
              <li><a href="#"><i class="fa fa-comments"></i> Wie mache ich Personen, die...</a></li>
              <li><a href="#"><i class="fa fa-comments"></i> Hacks übersetzen</a></li>
            </ul>*@
            Soon<sup>TM</sup>
         </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <ul class="breadcrumb">
          @foreach(var crumb in Breadcrumbs.Current)
          { 
              <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="@Url.Action(crumb.Action, crumb.Controller, crumb.RouteValues)" itemprop="url" class="@(crumb == Breadcrumbs.Current.Last() ? "active" : null)"><span itemprop="title">@crumb.Text</span></a></li> 
          }
        </ul>
        <div class="row">
          <div class="col-12 help-block">
            <p><small>"Pokémon" ist ein eingetragenes Warenzeichen der Firma Nintendo. "Action Replay" ist ein eingetragenes Warenzeichen von Datel Interact. www.SearchForCheats.de.vu © 2006 - @DateTime.Now.Year by Mastermind_X</small></p>
            <p><small>TheSearchForCheats ist Teil des <a href="@Url.Action("Index", "Home", new { area = "" }, null, true)">Pokefans-Netzwerks</a>. <a href="@Url.Map("impressum",null)">Impressum</a> | <a href="@Url.Map("impressum#datenschutz",null)">Datenschutz</a> | <a href="@Url.Action("Sitemap","Home")">Sitemap</a></small></p>
          </div>
        </div>
    </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/lightbox/js")
    @RenderSection("scripts", required: false)
  </body>
</html>
